ECE 480 Project/bin/Debug/*
ECE 480 Project/obj/Debug/*
ECE 480 Project/Example Code/DemoLanguageDetect/DemoLanguageDetect/bin/Debug/
ECE 480 Project/Example Code/DemoLanguageDetect/DemoLanguageDetect/obj/Debug/
ECE 480 Project/ECE 480 Project/Example Code/ReadfileMayeli/Readfile/bin/Debug/
ECE 480 Project/ECE 480 Project/Example Code/ReadfileMayeli/Readfile/obj/Debug/
