<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IvanAkcheurov.NClassify" publicKeyToken="a61413de1d13f8fc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.1.1" newVersion="0.2.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IvanAkcheurov.Commons" publicKeyToken="a61413de1d13f8fc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.1.1" newVersion="0.2.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>